<button type="button" name="button" (click)="getInfoFrmaServiceClass1()" > Employee1 </button>
<ul class="list-group">
    <li *ngFor="let info of infoReceived1" class="list-group-item">{{info}} </li>
</ul>
<pre>  </pre>

<button type="button" name="button" (click)="getInfoFrmaServiceClass2()" > Employee2 </button>
<ul class="list-group">
    <li *ngFor="let info of infoReceived2" class="list-group-item">{{info}} </li>
</ul>

<button type="button" name="button" (click)="getInfoFrmaServiceClass3()" > Employee3 </button>
<ul class="list-group">
    <li *ngFor="let info of infoReceived3" class="list-group-item">{{info}} </li>
</ul>

