<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS ng-model directive</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <style>
      body{
        font-family: Arial;
      }
      h1{
        color: green;
      }
      .column{
        float: left;
        text-align: left;
        width: 49%;
      }
      .row{
        content: "";
        display: table;
      }
    </style>
  </head>

  <body ng-app="myApp" ng-controller="myController">
    <h1>Geeksforgeeks
      <h4>Input box</h4>
      <div class="row">
        <div class="column">
          Name
          <input type="text" ng-model="name">
          <pre>{{ name }} </pre> Checkbox

          <input type="checkbox" ng-model="check">
          <pre> {{ check }} </pre> Radiobox

          <input type="radio" ng-model="choice">
          <pre> {{ choice }} </pre> Number

          <input type="number" ng-model="num">
          <pre> {{ num }} </pre> Number

          <input type="email" ng-model="mail">
          <pre> {{ mail }} </pre> Email

          <input type="url" ng-model="url">
          <pre> {{ url }} </pre> Url

        </div>

        <div class="column">
          Date:
          <input type="date" ng-model="date1" (change)="log(date1)">

          <pre> Today's date: {{ date1 }} </pre> Datetime-local
          <input type=""
        </div>

      </div>
    </h1>

  </body>

</html>